* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    color: #FFF;
    background: #0d101a;
    height: 100vh;
    margin: 0;
    padding: 0 15vw;
}

.card {
    margin: 10px;
    padding: 10px 30px;
	background-color: #101a29;
	border: 3px solid #FFFFFF;
	border-radius: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

hr.solid {
    border-top: 3px solid #FFF;
    width: 100%;
}

.title{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.xcenter {
    display: flex;
    justify-content: center;
}

.ycenter {
    display: flex;
    align-items: center;
}

.w35 {
    width: 35%;
}

.w65 {
    width: 65%;
}

.h50 {
    height: 50%;
}

.h100 {
    height: 100%;
}

.h80v {
    height: 80vh;
}

.mtop0 {
    margin-top: 0;
}

.mbot0 {
    margin-bottom: 0;
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}