* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    color: #FFF;
    background: #0d101a;
    min-height: 100vh;
    margin: 0;
    padding: 0 27vw;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.xcenter {
    display: flex;
    justify-content: center;
}

.title {
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.description {
    color: #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.search-field {
    text-align: center;
    border-radius: 30px;
    border: 2px solid #FFF;
    padding: 20px; 
    width: 200px;
    height: 15px;
    width: 85%;    
}

.ip-info {
    font-size: 10px;
    margin: 1px 0 0 0 0;
    text-align: center;
    width: 85%;
}

.mtop40vh {
    margin-top: 35vh;
}

.submit-button {
    appearance: none;
    background-color: #f8f9fa;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 16px;
    margin: 1px 0 1px 20px;
    position: relative;
    width: 15%;
}

.submit-button:hover {
    background-color: #cdcfd1;
    text-decoration: none;
    transition-duration: 0.1s;
}

.submit-button:focus {
    outline: 1px transparent;
}