* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    color: #FFF;
    background: #0d101a;
    min-height: 100vh;
    margin: 0;
    padding: 0 27vw;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.xcenter {
    display: flex;
    justify-content: center;
}

.title {
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.description {
    color: #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.search-field {
    text-align: center;
    border-radius: 30px;
    border: 2px solid #FFF;
    padding: 20px; 
    width: 200px;
    height: 15px;
    width: 85%;    
}

.ip-info {
    font-size: 10px;
    margin: 1px 0 0 0 0;
    text-align: center;
    width: 85%;
}

.mtop40vh {
    margin-top: 35vh;
}

.submit-button {
    appearance: none;
    background-color: #f8f9fa;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    margin: 1px 0 1px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    width: 15%;
}

.submit-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.submit-button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.submit-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.submit-button:focus {
    outline: 1px transparent;
}

.submit-button:before {
    display: none;
}

.submit-button:-webkit-details-marker {
    display: none;
}